<div style="margin:0;padding:0">
  <table style="border-collapse:collapse;table-layout:fixed;min-width:320px;width:100%;background-color:#f0f0f0" cellpadding="0" cellspacing="0" role="presentation">
    <tbody>
      <tr>
        <td>
          <div role="banner">
            <div style="margin:0 auto;max-width:560px;min-width:280px;width:280px;width:calc(28000% - 167440px)">
              <div style="border-collapse:collapse;display:table;width:100%">
                <div style="display:table-cell;float:left;font-size:12px;line-height:19px;max-width:280px;min-width:140px;width:140px;width:calc(14000% - 78120px);padding:10px 0 5px 0;color:#bdbdbd;font-family:Ubuntu,sans-serif">
                  <div style="height:0;max-height:0;overflow:hidden;font-size:0">
                    <span>TastyMarks</span>, social bookmarking on steroids</div>
                </div>
                <div style="display:table-cell;float:left;font-size:12px;line-height:19px;max-width:280px;min-width:139px;width:139px;width:calc(14100% - 78680px);padding:10px 0 5px 0;text-align:right;color:#bdbdbd;font-family:Ubuntu,sans-serif">
                </div>
              </div>
            </div>
          </div>
          <div role="section">
            <div style="margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
              <div style="border-collapse:collapse;display:table;width:100%;background-color:#ffffff">
                <div style="text-align:left;color:#787778;font-size:16px;line-height:24px;font-family:Ubuntu,sans-serif;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px)">
                  <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
                    <a style="text-decoration:underline;color:#bf2e2e" href="https://tastymarks.com" target="_blank">
                      <img style="border:0;display:block;height:auto;width:100%;max-width:192px" alt="TastyMarks logo" width="192"
                        src="https://tastymarks.com/images/logo/logo-192.png">
                    </a>
                  </div>
                  <div style="margin-left:20px;margin-right:20px;margin-top:20px">
                    <div style="line-height:20px;font-size:1px">&nbsp;</div>
                  </div>
                  <div style="margin-left:20px;margin-right:20px">
                    <div>
                      <h1 style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:normal;color:#565656;font-size:30px;line-height:38px;text-align:center">
                        <strong><%=title%></strong>&nbsp;</h1>
                      <p style="margin-top:20px;margin-bottom:0"><%=subtitle%></p>
                      <p style="margin-top:20px;margin-bottom:20px">
                        <a style="text-decoration:underline;color:#bf2e2e" href="<%=burl%>" target="_blank" ><%=btitle%></a>
                      </p>
                    </div>
                  </div>
                  <div style="margin-left:20px;margin-right:20px">
                    <div style="line-height:10px;font-size:1px">&nbsp;</div>
                  </div>
                  <div style="margin-left:20px;margin-right:20px">
                    <div style="line-height:10px;font-size:1px">&nbsp;</div>
                  </div>
                  <div style="margin-left:20px;margin-right:20px">
                    <div style="line-height:5px;font-size:1px">&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
            <div style="line-height:10px;font-size:10px">&nbsp;</div>
            <div role="contentinfo">
              <div style="margin:0 auto;max-width:600px;min-width:320px;width:100%;word-wrap:break-word;word-break:break-word">
                <div style="border-collapse:collapse;display:table;width:100%">
                  <div style="text-align:left;font-size:12px;line-height:19px;color:#bdbdbd;font-family:Ubuntu,sans-serif;float:left;max-width:100%;min-width:320px;">
                    <div style="margin-left:20px;margin-right:20px;margin-top:10px;margin-bottom:10px">
                      <table style="border-collapse:collapse;table-layout:fixed" role="presentation">
                        <tbody>
                          <tr role="navigation">
                            <td style="padding:0;width:26px">
                              <a style="text-decoration:underline;color:#bdbdbd" href="https://tastymarks.com" target="_blank">
                                <img style="border:0" src="https://ci5.googleusercontent.com/proxy/GLxbh1qWRgcSzKa2uufR066mteen6GsNDyDyzDlLKOBTGDcOqh5JUOOByQAq4vU2cEa1BtaMNQnkrVeonQqCYbzt5LqgHtuX47huNEPevlMv8rXsbuAXbGjBVCFhRlGeZvc=s0-d-e1-ft#http://i7.cmail20.com/static/eb/master/13-the-blueprint-3/images/website.png"
                                  width="26" height="26" alt="Website">
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div style="font-size:12px;line-height:19px;margin-top:20px">
                        <div>
                          <span>TastyMarks</span> automatic notification message, click here to <a style="text-decoration:underline;color:#bdbdbd" href="<%=unsubscribeUrl%>" target="_blank">Unsubscribe</a></div>
                      </div>
                      <div style="font-size:12px;line-height:19px;margin-top:18px">
                      </div>
                    </div>
                  </div>
                  <div style="text-align:left;font-size:12px;line-height:19px;color:#bdbdbd;font-family:Ubuntu,sans-serif;float:left;max-width:420px;min-width:200px;width:320px;width:calc(72200px - 12000%)">
                    <div style="margin-left:20px;margin-right:20px;margin-top:10px;margin-bottom:10px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="line-height:40px;font-size:40px">&nbsp;</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <img style="overflow:hidden;display:block!important;height:1px!important;width:1px!important;border:0!important;margin:0!important;padding:0!important"
    src="https://ci5.googleusercontent.com/proxy/0ZitT2hlPltw7_87XWV5xxctrbWG0ILwk0GIhF9XWcXe2r2gN120tB-lI9D1TdwuX8RmjTlShaqSSsFARCnnIZIDz1AjP0xfwTY=s0-d-e1-ft#https://tastymarks.cmail20.com/t/j-o-buttrtk-l/o.gif"
    width="1" height="1" border="0" alt="">
  <div></div>
  <div>
  </div>
</div>
